{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    {% if request.user.is_authenticated %}
    <h2>Active Listings</h2>

        {% for listing in listings %}
            {% if not listing.is_closed %}
                <div class="container border p-2 m-2">
                    <div class="row">
                        <div class="col">
                            {% if listing.image %}
                                <img src="{{ listing.image.url }}" alt="image" style="width: 300px; height: auto">
                            {% else %}
                                <img src="{% static 'path/to/default/image.jpg' %}" alt="default image" style="width: 300px; height: auto">
                            {% endif %}
                        </div>
                        <div class="col text-left">
                            <h2 class="display-4">{{ listing.item_name }}</h2>
                            <h4>Price: ${{ listing.starting_price }}</h4>
                            <p><small>{{ listing.created_at }}</small></p>
                            <a href="{% url 'listing' listing.id %}" type="submit" class="btn btn-primary">Go To Listing</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
