{% extends 'auctions/layout.html' %}

{% block body %}
  <h1>Your Watchlist</h1>

  {% if watchlist_items %}
    <div class="row">
      {% for watchlist_item in watchlist_items %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ watchlist_item.listing.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ watchlist_item.listing.item_name }}</h5>
              <p class="card-text">Price: ${{ watchlist_item.listing.starting_price }}</p>
              <p class="card-text"><small class="text-muted">{{ watchlist_item.listing.created_at }}</small></p>
              <a href="{% url 'listing' watchlist_item.listing.id %}" class="btn btn-primary">View Listing</a>
              <form action="{% url 'remove_from_watchlist' watchlist_item.listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Remove from Watchlist</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Your watchlist is empty.</p>
  {% endif %}
{% endblock %}
